{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <img src={{ asset('./image/home_image.jpg') }} class="img-fluid homepage-image" alt="...">
        <h1>Les bons plans</h1>
        <div class="article_container">
            {% for article in articles %}
                <div class="">
                    <div class="">
                        {% if article.articlePicture %}
                            <img src={{ asset('image/articleImage/' ~ article.articlePicture.link) }} class=""
                                 alt="...">
                        {% endif %}
                        <div class="">
                            <h5 class="">{{ article.title }}</h5>
                            <p class="">{{ article.content|slice(0,50) }}...</p>
                            <a href={{ path('app_article_details', {'id':article.id}) }}>Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
