{% extends 'base.html.twig' %}

{% block title %}Hello MaterialController!{% endblock %}

{% block body %}
    <div>
        <div style="height:77px; background: rgba(21, 34, 43, 0.85)">

        </div>
        <div>
            {% for materialPicture in material.materialPictures %}
            <img src={{ asset('image/materialImage/'~ materialPicture.link) }}>
            {% endfor %}
            <p>{{ material.name }}</p>
            <p>{{ material.description }}</p>
            {% for categorie in material.categories %}
                <p>{{ categorie.name }}</p>
            {% endfor %}
            <a href={{ path('app_message_new', {'uuid':material.uuid}) }}>new message</a>
            <h3>comments</h3>
            {% for trade in trades %}
                <p>{{ trade.tenant.name }}</p>

                {% for comment in trade.comments %}
                    <p>{{ comment.content }}</p>
                {% endfor %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
