{% extends 'base.html.twig' %}

{% block title %}Hello MessageDetails!{% endblock %}

{% block body %}
    <div>
        <div class="nav-invisible">

        </div>
        <h2>{{ conversation.title }}</h2>
        {% for message in conversation.messages %}
            <p>{{ message.content }}</p>
            {% if message.sendBy == app.user %}
                <p>You</p>
            {% else %}
                <p>{{ message.sendBy.name }}</p>
            {% endif %}
            <p>{{ message.createdAt|date }}</p>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_errors(form)}}
        <div class="form-row form-name-group">
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content,  {'attr': {'class': 'form-control'}})}}
                {{ form_errors(form.content) }}
            </div>


        </div>
        <button type="submit" class="btn btn-success">Valider</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
